<form [formGroup]="registrationForm" (ngSubmit)="register(registrationForm);">
    <div class="form-group">
        <label for="username">Username</label>
        <input #username type="text" class="form-control" id="username" [myHighlight]="'#77DD77'"
               formControlName="username">
    </div>
    <div class="form-group">
        <label for="favouriteHero">Favourite Hero</label>
        <select #favHero id="favouriteHero" class="form-control" myHighlight [defaultColor]="'#966FD6'"
                formControlName="favouriteHero">
            <option *ngFor="let hero of heroes" [value]="hero">{{hero}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input #password id="password" type="password" class="form-control" myHighlight formControlName="password">
    </div>

    <button type="submit" class="btn btn-default" [disabled]="registrationForm.invalid">Submit</button>
</form>
