<form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm)">
    <div class="form-group">
        <label for="username">Username</label>
        <input #username="ngModel" [(ngModel)]="model.username" id="username" name="username" class="form-control" type="text" required
               [class.form-error]="username.dirty && username.invalid">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input #password="ngModel" [(ngModel)]="model.password" id="password" name="password" class="form-control" type="password" required
               [class.form-error]="password.dirty && password.invalid">
    </div>

    <button type="submit" class="btn btn-default" [disabled]="loginForm.form.invalid">Login</button>
</form>