<form (ngSubmit)="register(registrationForm);" #registrationForm="ngForm">
    <div class="form-group">
        <label for="username">Username</label>
        <input #username="ngModel" [(ngModel)]="model.username" type="text" class="form-control" id="username"
               name="username" required minlength="5" maxlength="20"
               [class.form-error]="username.dirty && username.invalid" [myHighlight]="'#77DD77'">
        <div *ngIf="username.dirty && username.invalid" class="alert alert-danger">
            <p *ngIf="username.errors && username.errors.required">Username is required</p>
            <p *ngIf="username.errors && username.errors.minlength">Usernname is too short.</p>
            <p *ngIf="username.errors && username.errors.maxLength">Username is too long.</p>
        </div>
    </div>
    <div class="form-group">
        <label for="favouriteHero">Favourite Hero</label>
        <select #favHero="ngModel" [(ngModel)]="model.favouriteHero" id="favouriteHero" name="favouriteHero" required
                class="form-control" [class.form-error]="favHero.dirty && favHero.invalid" myHighlight
                [defaultColor]="'#966FD6'">
            <option *ngFor="let hero of heroes" [value]="hero">{{hero}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input #password="ngModel" [(ngModel)]="model.password" id="password" name="password" type="password" required
               class="form-control" [class.form-error]="password.dirty && password.invalid" myHighlight>
    </div>

    <button type="submit" class="btn btn-default" [disabled]="registrationForm.form.invalid">Submit</button>
</form>
